*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: black;
 
}
.post{
    background: white;
    position: fixed;  
    top: 50px;       
	margin-left: 400px;
	margin-bottom: 200px;
    width: 600px;  
	height: 800px;  
    background-color: white;    
	border: 1px solid darkblue;
    padding: 10px;
    }
.post-header {
    height: 20px;
    width: 550px;
    padding: 5px;
    background-color: white;
    display: flex;
}
.logo { 
    height: 20px;
    width: 20px;
    }
.title{
    background-color: white;
    height: 20px;
    width: 510px;
    border: 1px dotted red;
    }
.menu {
height: 20px;
width: 20px;
background-color: white;
padding-top: 5px;
}
