body {
    background-color: black;
    position: auto;
    font-family: 'Roboto', sans-serif;

}
  
.post{
    background: white;
    top: 50px;       
	margin: auto;
    width: 400px;  
	height: 625px;  
    background-color: white;    
	border: 1px solid darkblue;
    
    }
.post-header {
    height: 50px;
    width: 375px;
    padding: 5px;
    background-color: white;
    display: flex;
    padding-left: 15px;
}
.logo { 
    height: 50px;
    width: 50px;
    }
.title{
    background-color: white;
    height: 50px;
    width: 330px;
       }
.title-1{
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    }
.title-2{
    margin-top: 0;
       font-size: 14px;
    }
.menu {
height: 30px;
width: 30px;
padding-top: 10px;
padding-left: 30px;
background-color: white;

}
.sunset{
    width: 400px;
    height: 280px;
}
.body-icons {
    display: flex;
    height: 50px;
    }
.heart {
    width:40px;
    height: 40px;
    padding-left: 10px;
}
.comment {
    width: 40px; 
    height: 40px;
}
.share {
    width: 40px;
    height: 40px;

}
.bookmark {
    width: 40px; 
    height: 40px;
    margin-left: 225px;
}
.body-message{
    padding: 10px;
}